<h4 class="text-center">Login</h4>

<form class="form mt-4">
    <div class="form-group">
        <label>Username:
            <input class="form-control" placeholder="user name" autofocus>
        </label>
    </div>

    <div class="form-group">
        <label>Password:
            <input type="password" class="form-control" placeholder="password">
        </label>
    </div>


    <button type="submit" class="btn btn-primary btn-block">login</button>

</form>

<p>Not a user? <a>Register now</a></p>
